.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  
  
  .main {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top:0vh;
    left:0vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .temp
  {
    position: absolute;
    top:90vh;
    left:90vw;
  
  }
  
  .mapboxgl-canvas {
    height:100vh !important;
    width:100vw !important;
  }
.emailInputWrapper
{
    display: inline-block;
    position: relative;
  
   
    left: 0;
    margin-top: -1vh;
    margin-left: -1vw;
    background: #FFFFFF;
    border: 0.05208333vw solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 1.0417vw;
    padding: 0vw 0.5vw 0vw 1vw;

}
.emailInput
{
    display: inline-block;
    
    width: 13vw;   
    height: 2vw;
    /* left: 1.3542vw;
    top: 0.05vw; */

    background: #FFFFFF;
   
    border:none;

  

}


.emailButton
{
    display: inline;
    position: absolute;
    text-align: center;

    right: -0.5vw;
    top: -0.08vw;


    padding: 0vw 1.2vw 0vw 1.2vw;
    bottom: 0vw;


    background: #1f6f8b;
    border-radius: 0vw 0.52083333vw 0.52083333vw 0vw;
    border:none;

font-size: 1vw;
}
.emailLogo
{
    color:white;
    

}
.showAll
{
    position: relative;

    top: 8vw;
    left: 5vw;

}
.SingleWrapper
{
    margin-left: 3vw;
    margin-top: -0.5vw;

}
.holder
{
    
      position: absolute;
      top:5vh;
      left:5vw;
      height:20vh;
      width:20vw;
      background-color: antiquewhite;
      border-radius: 2vw;
    

}
@media only screen and (max-width: 812px)
{

    .SingleWrapper
{
    margin-left: 3vw;
    margin-top: -3.5vh;

}
        .holder
        {
            width: 60vw;
            height: 20vh;
            font-size: 2vw;
            border-radius: 5vw;

        }
        .showAll
        {
            
            height: 2.5vh;
            font-size: 2vw;
            border-radius: 20vh;
            top: 15vh;
        }

    .emailInputWrapper
{
    
   
    left: 0;
    margin-top: 0vh;
    margin-left: -1vw;
    background: #FFFFFF;
    border: 0.05208333vw solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 1.0417vw;
    padding: 0vw 1vw 0vw 2vw;

}
.emailInput
{
  
    
    width: 40vw;   
    height: 4vw;
    /* left: 1.3542vw;
    top: 0.05vw; */

  
  

}


.emailButton
{
    

    right: -0.5vw;
    top: -0.08vw;


    padding: 0vw 1.2vw 0vw 1.2vw;

    border-radius: 0vw 1vw 1vw 0vw;
    font-size: 4vw;

}

}