.Container
{


    position: absolute;

    bottom : 0;
    left: 0vw;

    width: 100vw;
    height: 6vh;

    background-color: #121212;
    display: inline;
    font-size: 3vw;
    z-index: 100;
}
.Acq
{
    display: inline-block;
    position: absolute;

    
    color: #1f6f8b;
 
     transition: transform .9s ease-in-out;
   
    font-size: 3vw;
     left: 18vw;
}
.landmark
{
  display: inline-block;
    position: absolute;
   
   
   color: #1f6f8b;

    transition: transform .9s ease-in-out;

    left: 38vw;
    font-size: 3vw;

}
.roads
{
    
    display: inline-block;
    position: absolute;
    


    color: #1f6f8b;

    transition: transform .9s ease-in-out;

    left: 58vw;
    font-size: 3vw;
}
.home
{
    
    display: inline-block;
    position: absolute;
    


    color: #1f6f8b;

    transition: transform .9s ease-in-out;

    left: 78vw;
    font-size: 3vw;
}

.landmark:hover {
    transform: scale(1.2); 
  }

.roads:hover {
    transform: scale(1.2); 
  }


  @media only screen and (max-width: 812px)
{

    .Container
    {
    
    
        font-size: 7vw;
        height: 5vh;
    }
    .Acq
    {
        
       
        font-size: 7vw;
        
    }
    .landmark
    {
     
        font-size: 7vw;
    
    }
    .roads
    {
        
        
        font-size: 7vw;
    }

    .home
    {
        
        
        font-size: 7vw;
    }
    
    

}