
.Container
{
  font-size: 8vw;


}
.App
{

text-align: center;
align-items: center;


}




.landmark
{
  display: inline-block;

   margin-top: 4vh;
   margin-left: 0vw;
   color: #1f6f8b;

    transition: transform .9s ease-in-out;
  

    font-size: 8vw;


}
.roads
{
    
    display: inline-block;

    margin-left: 1vw;

    color: #1f6f8b;

    transition: transform .9s ease-in-out;

 
    font-size: 8vw;
}


.landmark:hover {
    transform: scale(1.25); 
  }

.roads:hover {
    transform: scale(1.25); 
  }


  @media only screen and (max-width: 812px) 
  {


    .Container
    {
      font-size: 12vw;
      margin-left: 38vw;
      margin-top: -2vh;
    }



  }