.container
{
    position: absolute;
    top: 5vh;
    left: 5vw;

    /* width: 20vw;
     */


    background-color: #e6d5b8;


    border-radius: 1.6vw;

    color: black;

    padding-bottom: 4.5vh;
    padding-left: 1vw;
    padding-right: 1vw;

}

@media only screen and (max-width: 812px) {

.container
{
    position: absolute;
    top:40vh;
    left: 0vw;

    border-radius: 5vw;
    /* width: 20vw;
     */


    background-color: #e6d5b8;




    color: black;

    padding-bottom: 4.5vh;
    padding-left: 1vw;
    padding-right: 1vw;

}


}


